* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

.box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
